include README.rst
include LICENSE
include CHANGELOG.md

include docs/Makefile
include docs/conf.py
recursive-include docs *.rst

exclude *.sh
exclude .gitignore
exclude Makefile
exclude tox.ini
exclude TODO
exclude .pylintrc
exclude .travis.yml

global-exclude *.pyc
global-exclude *.DS_Store
